# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local data
.env
music_cache.db
run.sh
*.log
.cache
test.py

# Byte-compiled / optimized / DLL files
build/
dist/
*.egg-info/
